.c-badge {
    display: flex;
    
    flex-direction: column;
    @media screen and (min-width: 728px) {
        flex-direction: row;
    }
    max-width:960px;
    width: 100%;
    margin: 0 auto;
    justify-content: space-between;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
    align-items: center;
    &__img {
        flex: 1 0 40%;
        height: 100px;
        width: 200px;
        @media screen and (min-width: 728px) {
            flex: 0 0 20%;
            width: auto;
            height: auto;
        }
        padding: 10px;
        //height: 150px;
        position: relative;
        box-shadow: -10px -10px 0px $pink, 10px 10px 0px #1c1c1c;
    }
    &__text {
        flex: 0 0 70%;
        //font-weight: 700;
        font-size: 0.7rem;
        color: #fff;
        font-family: 'Press Start 2P', cursive; 
        p {
            margin-bottom: 15px;
        }
    }
}