.c-badge {
    --base:              #FA4D56;
    --bg-blend:          multiply;
    --blur:              0px;
    --fg-blend:          lighten;
    --foreground:        #000000;
    --opacity:           1;
    --spacing:           15px;

    display: flex;
    flex-direction: column;
    padding: 0 15px;
    text-align: center;

    @media screen and (min-width: 820px) {
        flex-direction: row;
        padding: 0;
        text-align: left;

    }

    max-width:960px;
    width: 100%;
    margin: 0 auto;
    justify-content: space-between;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
    align-items: center;

    &__img-container {
        flex: 0 0 30%;
        width: 440px;
        margin-bottom: 15px;

        padding: 10px;
        //height: 150px;
        position: relative;
        clip-path: url(#mask);
        animation: badge 30s infinite;
        border: 1px solid transparent;

       &::before {
            background-color:    var(--foreground);
            bottom:              0;
            content:             '';
            height:              100%;
            left:                0;
            mix-blend-mode:      var(--fg-blend);
            position:            absolute;
            right:               0;
            top:                 0;
            width:               100%;
            z-index:             1;
          }
        @media screen and (min-width: 820px) {
            flex: 0 0 400px;
            width: auto;
            height: auto;
            margin-bottom: 0;
        }

            img {
                filter:              grayscale(100%) contrast(1) blur(var(--blur));
                flex:                1 0 100%;
                height:              100%;
                max-width:           100%;
                mix-blend-mode:      var(--bg-blend);
                object-fit:          cover;
                opacity:             var(--opacity);
                position:            relative;
                width:               100%;
                animation: rr 30s infinite;
                
            }
        
      
    }
    &__img {
        background-color:    var(--base);
        display:             flex;

        flex:                0 1 100%;
        height:              100%;
        object-fit: contain;
        overflow:            hidden;
        padding:             var(--spacing);
        position:            relative;
    }
    &__text {
        flex: 0 1 70%;
        //font-weight: 700;
        font-size: 1rem;
        color: #fff;
        font-family: 'Press Start 2P', cursive; 
        p {
            margin-bottom: 15px;
            font-size: 0.8rem;

        }
    }
}

@keyframes badge {
    0% {
        transform: rotate(0deg) translateY(0%);
    }

    25% {
        transform: rotate(25deg) translateY(-8%);
    }

    50% {
        transform: rotate(75deg) translateY(8%);
    }

    75% {
        transform: rotate(55deg) translateY(-3%);
    } 

    100% {
        transform: rotate(0deg) translateY(0%);
    }
}

@keyframes rr {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(-25deg);
    }

    50% {
        transform: rotate(-75deg);
    }

    75% {
        transform: rotate(-55deg);
    } 

    100% {
        transform: rotate(0deg);
    }
}