.blob-container {
    position: absolute;
    top: 0%;
    right: 0%;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 110vh;
    pointer-events: none;
    overflow: hidden;
    &__blob {
        position: absolute;
        top: -50%;
        right: -50%;
        animation: blobify 60s infinite;
        width: 160vw;
        height: 160vh;
    }
}

@keyframes blobify {
    0% {
        transform: scale(1) skew(0deg, 0deg) rotate(0deg) translateY(0%);
    }

    50% {
        transform: scale(1.2) skew(5deg, 10deg) rotate(75deg) translateY(-12%);
    }

    75% {
        transform: scale(0.9) skew(12deg, 15deg) rotate(55deg) translateY(12%);
    } 

    100% {
        transform: scale(1) skew(0deg, 0deg) rotate(0deg) translateY(-5%);
    }
}