.c-btn {
    padding: 10px;
    background: white;
    display: inline-block;
    text-decoration: none;
    color: #1c1c1c;
    margin: 10px 10px 10px 0;

    transition: 0.2s;
    font-family: 'Press Start 2P', cursive; 
    font-size: 0.75rem;
    &:hover {
        transform: translate(-3px, -3px);

       // background: #dedede;
        background: $yellow;
        color: white;
    }
}