.c-experience {
    display: block;


    &__item {
        position: relative;
        padding-bottom: 50px;
        background-color: #ffffff;
        padding: 20px;
        margin-bottom: 30px;
        p {
            margin-bottom: 15px;
        }
        &:first-child {
            h3 {
                font-size: 1.25rem;
            }
            padding-top: 54px;
            &:before {
                background-color: $yellow;
                width: 100%;
                padding: 10px 20px;
                color: $darkgrey;
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                content: 'Current position';
                font-family: 'Press Start 2P', sans-serif; 
                font-size: 0.6rem;
            }
        }
    }
}