html,
body {
    height: 100%;
}

body {
    background-color: #2f2f2f;
    background-size: cover;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='800' height='600' preserveAspectRatio='none' viewBox='0 0 800 600'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1110%26quot%3b)' fill='none'%3e%3crect width='800' height='600' x='0' y='0' fill='rgba(47%2c 47%2c 47%2c 1)'%3e%3c/rect%3e%3cpath d='M79.976%2c184.984C104.195%2c185.174%2c130.825%2c182.945%2c143.966%2c162.6C157.978%2c140.907%2c155.678%2c111.68%2c141.087%2c90.372C128.029%2c71.302%2c103.028%2c67.481%2c79.976%2c69.148C60.128%2c70.583%2c43.586%2c81.721%2c32.469%2c98.227C19.481%2c117.511%2c6.537%2c141.215%2c17.704%2c161.608C29.118%2c182.452%2c56.213%2c184.797%2c79.976%2c184.984' fill='rgba(250%2c 77%2c 86%2c 0.19)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M374.21%2c469.529C395.804%2c470.966%2c417.065%2c461.309%2c428.695%2c443.057C441.229%2c423.386%2c444.163%2c398.146%2c432.604%2c377.886C420.955%2c357.467%2c397.663%2c345.954%2c374.21%2c347.557C353.054%2c349.003%2c337.439%2c365.948%2c328.175%2c385.022C320.12%2c401.608%2c322.165%2c420.363%2c330.986%2c436.555C340.277%2c453.611%2c354.83%2c468.239%2c374.21%2c469.529' fill='rgba(250%2c 77%2c 86%2c 0.19)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M356.184%2c140.72C383.149%2c139.43%2c398.296%2c112.63%2c411.193%2c88.914C423.294%2c66.662%2c434.911%2c40.949%2c422.424%2c18.911C409.82%2c-3.333%2c381.75%2c-7.934%2c356.184%2c-8.172C330.059%2c-8.415%2c301.722%2c-4.433%2c287.77%2c17.656C273.065%2c40.937%2c277.857%2c70.585%2c291.236%2c94.652C305.059%2c119.516%2c327.768%2c142.079%2c356.184%2c140.72' fill='rgba(250%2c 77%2c 86%2c 0.19)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M654.99%2c292.203C686.608%2c290.192%2c705.823%2c260.269%2c720.078%2c231.975C732.588%2c207.145%2c736.408%2c179.391%2c724.479%2c154.277C710.473%2c124.79%2c687.612%2c96.133%2c654.99%2c94.946C620.887%2c93.705%2c592.713%2c119.041%2c576.155%2c148.881C560.133%2c177.754%2c557.874%2c212.345%2c573.789%2c241.278C590.293%2c271.282%2c620.816%2c294.376%2c654.99%2c292.203' fill='rgba(250%2c 77%2c 86%2c 0.19)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M72.787%2c237.729C125.595%2c239.753%2c179.465%2c216.767%2c204.373%2c170.158C228.205%2c125.562%2c209.092%2c73.879%2c183.723%2c30.139C158.469%2c-13.403%2c123.098%2c-55.123%2c72.787%2c-56.716C20.261%2c-58.379%2c-26.418%2c-23.731%2c-51.023%2c22.705C-74.15%2c66.352%2c-67.059%2c117.89%2c-42.411%2c160.697C-17.706%2c203.603%2c23.313%2c235.832%2c72.787%2c237.729' fill='rgba(250%2c 77%2c 86%2c 0.19)' class='triangle-float2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1110'%3e%3crect width='800' height='600' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    background-repeat: no-repeat;
}

.c-container {
    position:relative;
    max-width: 960px;
    margin: 0 auto;
    padding: 15px;
    min-height: 100%;
    display: flex;
    @media screen and (min-width: 960px) {
        padding: 0;
    }
    &--home {
        height: calc(100vh - 64px);
    }
    &--column {
        flex-direction: column;
    }
}

.c-content {
    color: white;
}