html,
body {
    height: 100%;
}

body {
    background-color: $darkgrey;
    background-size: cover;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='800' height='600' preserveAspectRatio='none' viewBox='0 0 800 600'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1071%26quot%3b)' fill='none'%3e%3crect width='800' height='600' x='0' y='0' fill='rgba(47%2c 47%2c 47%2c 1)'%3e%3c/rect%3e%3cpath d='M755.934%2c301.016C806.282%2c296.889%2c837.679%2c251.986%2c862.346%2c207.901C886.221%2c165.23%2c904.626%2c116.893%2c883.677%2c72.712C859.826%2c22.412%2c811.569%2c-18.428%2c755.934%2c-16.512C702.541%2c-14.673%2c669.333%2c34.776%2c642.575%2c81.017C615.752%2c127.371%2c589.781%2c180.624%2c614.311%2c228.231C640.368%2c278.801%2c699.236%2c305.663%2c755.934%2c301.016' fill='rgba(250%2c 77%2c 86%2c 0.19)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M40.392%2c662.912C71.719%2c661.942%2c102.275%2c647.096%2c116.407%2c619.121C129.474%2c593.254%2c116.908%2c564.515%2c102.92%2c539.134C88.22%2c512.462%2c70.844%2c481.589%2c40.392%2c481.195C9.57%2c480.797%2c-9.292%2c510.957%2c-25%2c537.48C-41.153%2c564.755%2c-58.892%2c595.986%2c-44.238%2c624.095C-28.861%2c653.591%2c7.144%2c663.941%2c40.392%2c662.912' fill='rgba(250%2c 77%2c 86%2c 0.19)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M406.05%2c395.097C462.119%2c397.267%2c516.56%2c371.219%2c545.727%2c323.284C576.042%2c273.463%2c582.39%2c207.93%2c549.051%2c160.08C518.869%2c116.762%2c458.821%2c121.199%2c406.05%2c122.813C357.325%2c124.303%2c303.763%2c127.358%2c277.438%2c168.387C249.481%2c211.96%2c258.381%2c268.12%2c283.926%2c313.15C309.852%2c358.851%2c353.546%2c393.065%2c406.05%2c395.097' fill='rgba(250%2c 77%2c 86%2c 0.19)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M321.672%2c766.033C366.471%2c766.195%2c407.838%2c739.672%2c428.094%2c699.714C446.714%2c662.982%2c433.104%2c621.479%2c413.236%2c585.407C392.402%2c547.581%2c364.854%2c506.866%2c321.672%2c506.5C278.106%2c506.131%2c248.261%2c545.593%2c227.379%2c583.831C207.581%2c620.085%2c197.59%2c662.263%2c216.576%2c698.949C237.05%2c738.51%2c277.127%2c765.872%2c321.672%2c766.033' fill='rgba(250%2c 77%2c 86%2c 0.19)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M44.451%2c355.04C66.231%2c356.267%2c89.691%2c348.426%2c99.702%2c329.043C109.194%2c310.665%2c97.474%2c290.415%2c87.058%2c272.545C76.752%2c254.862%2c64.913%2c234.681%2c44.451%2c234.251C23.54%2c233.812%2c8.127%2c252.053%2c-1.372%2c270.688C-9.92%2c287.458%2c-9.963%2c306.833%2c-0.978%2c323.373C8.466%2c340.757%2c24.698%2c353.928%2c44.451%2c355.04' fill='rgba(250%2c 77%2c 86%2c 0.19)' class='triangle-float2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1071'%3e%3crect width='800' height='600' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}

.c-container {
    position:relative;
    max-width: 960px;
    margin: 0 auto;
    padding: 15px;
    min-height: 100%;
    display: flex;
    @media screen and (min-width: 960px) {
        padding: 0;
    }
    &--home {
        height: calc(100vh - 64px);
    }
    &--column {
        flex-direction: column;
    }
}

.c-content {
    color: white;
}