@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

body {
    font-family: 'Noto Sans', sans-serif;
    color: #f4f4f4;

}

h1 {
    font-family: 'Press Start 2P', sans-serif; 
    text-shadow:  1px 1px $pink,
        2px 1px $pink,
        3px 2px $pink,
        4px 2px $pink,
        5px 3px $pink,
        6px 3px $pink;
    color: #f4f4f4;
}
a:not([class]) {
    color: $pink;
}

h2 {
    font-family: 'Press Start 2P', sans-serif; 
    color: #f4f4f4;
    font-size: 1.5rem;
    line-height: 2rem;
    margin-top: 40px;
}

h3 {
    font-family: 'Press Start 2P', sans-serif; 
    color: $darkgrey;
    line-height: 2rem;
    font-size: 0.8rem;

}

p {
    line-height: 1.75rem;
}

.c-about-intro {
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 2.75rem;

}